 /* section 1*/
 body{ 
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
#header{
    display: flex; 
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat; 
    margin-bottom:10%;  
}
.header-part{
    
    padding-left: 5%;
}
.text-color{
    color:rgb(63, 139, 0);

}
.link-color{
    color:darkorange;
    padding:10px 40px;
    text-decoration: none;
    background-image:linear-gradient(red,blue) ;
    border-radius: 10px;
}
h1{
    font-size:50px;
}
.header-part img{
width: 100%;
}

/* section 2 */
#dream-area{
    display: flex;
    background-image: url(images/dream-bg.png
    );
    background-repeat: no-repeat;
    background-position:right;
}
.dream-area-part{
    width: 50%;
    padding-right: 5%;
}
.dream-area-part img{
     width: 100%;
}