 /* section 1*/
 body{ 
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
#header{
    display: flex; 
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat; 
    margin-bottom:10%;  
}
.header-part{
    
    padding-left: 5%;
}
.text-color{
    color:rgb(63, 139, 0);

}
.link-color{
    color:darkorange;
    padding:10px 40px;
    text-decoration: none;
    background-image:linear-gradient(red,blue) ;
    border-radius: 10px;
}
h1{
    font-size:50px;
}
.header-part img{
width: 100%;
}

/* section 2 */
#dream-area{
    display: flex;
    background-image: url(images/dream-bg.png
    );
    background-repeat: no-repeat;
    background-position:right;
}
.dream-area-part{
    width: 50%;
    padding-right: 5%;
}
.dream-area-part img{
     width: 100%;
}

/* section 3 */
#experince-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding: 5%;
}
.experience-area-part{
    display: flex;
}
.experience-area-part h3{
    color:orange;
}
.experience-area-part div{
    box-shadow: 5px 7px 40px gray;
    height: 80%;
    margin: 15px;
    
}
#full-stack{
    border: 7px solid;
    border-image: linear-gradient(180deg,red tomato);
    border-image-slice: 1;
    padding: 10px;
}
#baby-web{
    border: 7px solid;
    border-image: linear-gradient(180deg,blue cyan);
    border-image-slice: 1;
    padding: 10px;
}